* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Song Myung', serif;
}
.content {
    display: flex;
    height: 100%;
    flex: 1;
}

.content>div {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.content>div:nth-child(2n+1) { 
    width: 30%;
}
.content>div:nth-child(2) { 
    width: 40%;
    border: solid 2px #eee;
    border-bottom: none;
    border-top: none;
}

nav {
    background: #BF1736;
    padding: 10px;
    font-size: 32px;
    font-family: 'Racing Sans One', cursive;
    color: white;
}

#status {
    padding: 20px;
    font-size: 20px;
}

#msg {
    flex: 1;
    overflow: auto;
    background-color: #eee;
}

#msg li { 
    background-color: #0E2773;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

#msg li.notice {
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    color: #0D1440;
}

#msg li.me {
    background-color: #BF1736;
}

#messages {
    flex-grow: 1;
}

#chatting {
    height: 60px;
    margin-top: auto;
}

#chatting input {
    padding: 20px;
    width: 100%;
    border: none;
}

#guess>div {
    height: 50%;
    overflow: auto;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.buttons button {
    margin: 20px;
    padding: 10px;
    box-sizing: content-box;
    height: 50%;
    border: none;
    border-radius: 20px;
    color: white;
    font-family: 'Racing Sans One', cursive;
    font-size: 3em;
    transition: text-shadow 0.25s, box-shadow 0.25s, color 0.25s, background-color 0.25s;
}

.buttons button:hover {
    text-shadow: 5px 5px #0C143F;
    box-shadow: 5px 5px #0C143F;
}

.buttons button:first-child {
    background-color: #1338A5;
}

.buttons button:first-child:hover {
    color: #B34327;
    background-color: #021859;
}

.buttons button:last-child {
    background-color: #BF1635;
}

.buttons button:last-child:hover {
    color: #CAC22C;
    background-color: #085473;
}

#guess>div:first-child {
    border-bottom: solid 2px #eee;
}

.gameGuess {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.people {
    margin: 10px;
    padding: 0;
    text-align: center; 
}

.face {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: brown;
}

.face>img {
    width: 80px;
    height: 80px;
    margin: 10px;
}

.hidden {
    display: none;
}

