html
    head
    body
        form(action='enterProc' method='POST')
            label(for="name") Name
            input(type="text" name="name" placeholder="Name" value="dd")
            br
            label(for="room") Room
            input(type="text" name="room" placeholder="Room Code" value="dd")
            br
            input(type="submit" value="Enter")
