html
    head
        script(src="/socket.io/socket.io.js")
        script(src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous")
        script
            include ../js/gameChat.js
        style
            include ../css/gameChat.css
    body
        nav Mafia17
        .content
            div: ul(id="history")
            div
                #status This is Night.
                #msg: ul(id="messages")
                #chatting
                    form(action="")
                        input(type="text" id="m" autocomplete="off")
                        button send
            #guess
                div
                    - for(var a=0; a<6; a++)
                        .people
                            .face
                            p Mafia
                            p userName
                div
                    - for(var a=0; a<5; a++)
                        .people
                            .face: img(src="/img/job/doctor.png")
                            p Mafia
                            p userName
            div

            
