html
    head
        script(src="/socket.io/socket.io.js")
        script(src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous")
        script.
            $(() => {
                console.log('connected');
                // const name = prompt('What your name');
                // const Roomcode = prompt('Write room code or create new room code');
                const socket = io();

                socket.emit('joinRoom', Roomcode, name);

                $('form').submit(() => {
                socket.emit('chat message', Roomcode, name, $('#m').val());
                $('#m').val('');
                return false;
                });

                socket.on('chat message', (name, msg) => {
                $('#messages').append($('<li>').text(name + '  :  ' +
                    msg));
                });

                socket.on('leaveRoom', (Roomcode, name) => {
                $('#messages').append($('<li>').text(name + '    leaved '
                    + Roomcode + ' :('));
                });

                socket.on('joinRoom', (Roomcode, name) => {
                $('#messages').append($('<li>').text(name + '    joined '
                    +Roomcode + ':)'));
                });
            });
        link(rel="stylesheet", href="/css/gameChat.css")
    body
        nav Mafia17
        div(class="content")
            div: ul(id="history")
            div
                #status This is Night.
                #msg: ul(id="messages")
                #chatting
                    form(action="")
                        input(type="text" id="m" autocomplete="off")
                        button send
        
        #guess
            div
                - for(var a=0; a<5; a++)
                .people
                    .face
                    p Mafia
                    p userName

            
